<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.anttivuor.startactivityforfdk">
    <queries>
        <package android:name="com.kpn.win4pos" />
    </queries>

    <application>
        <service
            android:name=".RNStartActivityForFdkModule"
            android:exported="true"
        />
        <activity
            android:name=".ReceiptActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <!-- TODO 호출 받기 위해 필요 Start-->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="receipt"
                    android:scheme="posapp" />
                <!-- TODO 호출 받기 위해 필요 End-->
            </intent-filter>
        </activity>
    </application>
</manifest>
