<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.anttivuor.startactivityforfdk">

    <application
        android:supportsRtl="true"
        tools:targetApi="31">
        <service
            android:name=".RNStartActivityForFdkModule"
            android:exported="true"
        />
        <activity
            android:name=".ReceiptActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!-- TODO 호출 받기 위해 필요 Start-->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="fdik"
                    android:scheme="eospos" />
                <!-- TODO 호출 받기 위해 필요 End-->
            </intent-filter>
        </activity>
    </application>
</manifest>
